<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Practice page</title>
</head>

<body>
    <h1>The home page <%= 'Har project'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem quam distinctio, porro commodi reprehenderit saepe eveniet consectetur, magni velit quo aperiam, qui natus officia! Architecto adipisci sit dolores explicabo itaque!</p>
</body>

</html>