<%- include('partials/head') %> 
<%- include('partials/nav') %> 

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block bg-light  sticky-top collapse sidebar" style="top: 74px;">
      <div class="sticky-top pt-3 pb-3" style="top: 74px;">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item mb-1">
            <a class="nav-link link-dark" aria-current="page" href="/dashboard">
			  <span class="fas fa-th-large me-2"></span>
              Dashboard
            </a>

          </li>
          <li class="nav-item mb-1">
            <a class="nav-link link-dark " href="/data">
              <span class="fas fa-home me-2"></span>
              Ambient data
            </a>
          </li>
          <li class="nav-item mb-1">
            <a class="nav-link active" href="#">
              <span class="fas fa-heartbeat me-2"></span>
              Health report
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 col-xl-10 ms-sm-auto p-5" style="min-height: calc(100vh - 80px)">
      <div class="row">
        <h3 class="col-xs-12 display-6 mb-4">Hygiene report</h3>
      </div>
      <div class="row">
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseBathUsingTime" role="button" aria-expanded="false" aria-controls="collapseBathUsingTime">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-toilet card-img-top"></h3>
            <div class="card-body">
              <h1 id="times_using_bathroom" class="card-title display-4">3</h1>
              <p class="card-text lead">times entering bathroom at the past 24 hours</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseBathUsingTime">
              <ul id="usingBathroomTimeList" class="list-group list-group-flush"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseShowerTime" role="button" aria-expanded="false" aria-controls="collapseShowerTime">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-shower card-img-top"></h3>
            <div class="card-body">
              <h1 id="times_using_shower" class="card-title display-4">3</h1>
              <p class="card-text lead">times taking shower at the past 24 hours</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseShowerTime">
              <ul id="usingShowerTimeList" class="list-group list-group-flush"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
      </div>

      <div class="row">
        <h3 class="col-xs-12 display-6 mb-4">Sleep Quality</h3>
      </div>
      <div class="row">
        <a class="col-xs-12 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseSleepDuration" role="button" aria-expanded="false" aria-controls="collapseSleepDuration">
          <div class="card card-body rounded shadow">
            <div class="card-body">
              <h1 id="duration_sleep" class="card-title display-4">8.3 hours</h1>
              <p class="card-text lead mt-1">Average sleeping duration</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseSleepDuration">
              <ul id="durationSleepList" class="list-group list-group-flush"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseWakeupTime" role="button" aria-expanded="false" aria-controls="collapseWakeupTime">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-sun card-img-top"></h3>
            <div class="card-body">
              <h1 id="time_wakeup" class="card-title display-4">9:43</h1>
              <p class="card-text lead">average waking up time</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseWakeupTime">
              <ul id="wakeupTimeList" class="list-group list-group-flush"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseBedTime" role="button" aria-expanded="false" aria-controls="collapseBedTime">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-moon card-img-top"></h3>
            <div class="card-body">
              <h1 id="time_bed" class="card-title display-4">00:45</h1>
              <p class="card-text lead">average going bed time</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseBedTime">
              <ul id="bedTimeList" class="list-group list-group-flush"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
      </div>
    </main>
  </div>
</div>

<script src="./js/report.js" type="module"></script>
<%- include('partials/footer') %> 
