<%- include('partials/head') %> 
<%- include('partials/nav') %> 

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-xl-2 d-md-block bg-light  sticky-top collapse sidebar" style="top: 75px;">
      <div class="sticky-top pt-3 pb-3" style="top: 75px;">
        <ul class="nav nav-pills flex-column">
          <li class="nav-item mb-1">
            <a class="nav-link link-dark" aria-current="page" href="/dashboard">
			  <span class="fas fa-th-large me-2"></span>
              Dashboard
            </a>

          </li>
          <li class="nav-item mb-1">
            <a class="nav-link link-dark " href="/data">
              <span class="fas fa-home me-2"></span>
              Ambient data
            </a>
          </li>
          <li class="nav-item mb-1">
            <a class="nav-link active" href="#">
              <span class="fas fa-heartbeat me-2"></span>
              Health report
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main class="col-md-9 col-xl-10 ms-sm-auto p-5" style="min-height: calc(100vh - 80px)">
      <div class="row">
        <h3 class="col-xs-12 display-6 mb-4">Bedroom Weather</h3>
      </div>
      <div class="row">
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseBedTemp" role="button" aria-expanded="false" aria-controls="collapseBedTemp">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-thermometer-half card-img-top"></h3>
            <div class="card-body">
              <h1 id="times_using_bathroom" class="card-title display-4">3</h5>
              <p class="card-text lead">times using bathroom</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseBedTemp">
              <ul class="list-group list-group-flush usingTimeList"> 
                <!-- <li class="list-group-item"></li> -->
              </ul>
            </div>
          </div>
        </a>
        <a class="col-sm-12 col-lg-6 col-xl-4 mb-4 text-decoration-none link-dark" data-bs-toggle="collapse" href="#collapseBedHumi" role="button" aria-expanded="false" aria-controls="collapseBedHumi">
          <div class="card card-body rounded shadow">
            <h3 class="fas fa-tint card-img-top"></h3>
            <div class="card-body">
              <h1 id="humi_bedroom" class="card-title display-4">45%</h5>
              <p class="card-text lead">Humidity</p>
            </div>
            <div class="collapse mt-2 mb-3" id="collapseBedHumi">
              <canvas id="bedHumiChart"></canvas>
            </div>
          </div>
        </a>
      </div>
    </main>
  </div>
</div>

<%- include('partials/footer') %> 
